<div *ngFor="let prenda of prenda" class="contenido">
    <div class="imagen"> <img [src]="prenda.imagen" ngxImageZoom></div>
    <div class="informacion">
        <h2>{{prenda.nombre}}</h2>
        <p class="precio">{{prenda.precio|currency:' COP '}}</p>
        <p class="desc"><strong>{{prenda.descripcion}}</strong></p>
        <p></p>
        <p class="talla"> TALLA : <strong>{{prenda.talla}}</strong></p>
        <p class="color">COLOR : <strong>{{prenda.color}}</strong></p>
        <p class="estado">10/ <strong>{{prenda.estado}}</strong></p>
        <button routerLink="/detalle-compra" (click)="comprar()"><span
                class="material-symbols-outlined">local_mall</span><strong>ADQUIRIR</strong></button>

    </div>

</div>

<div class="similares">
    <h3>Prendas similares</h3>
    <div class="prendas">
        <div class="prenda" *ngFor="let prenda of recomendadas">
            <div></div>
            <div class="elementos">
                <div class="t-img">
                    <div class="image">
                        <img [src]="prenda.imagen">
                        <h2>{{prenda.nombre}}</h2>
                    </div>
                </div>
                <div class="content">
                    <p>{{prenda.descripcion}}</p>
                    <h3>{{prenda.precio|currency:' COP ' }}</h3>
                    <button (click)="verPrenda(prenda.id_prenda)">Ver prenda</button>
                </div>
            </div>
        </div>
    </div>
</div>