.contenido{
    margin: 50px 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     height: 60vh;
     gap: 20px;
}

.c-img{
    width: 40%;
    height: 100%;
    background-color:rgb(230, 230, 230);
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px green;
   
}

.c-img .imagen{
    width: 70%;
    height: 70%;
}

.c-img .imagen img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.informacion{
    width: 50%;
    display: flex;
    text-align: right;
    justify-content: space-around;
    height: 100%;
    flex-direction: column;
}

.informacion h2{
    font-size: 40px;
    border-bottom: solid 2px green;
}


p{
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    width: 200px;
    height: 60px;
    border: none;
    background-color: none;
    border: 2px solid green;
}
span{
    font-size: 50px;
    color: forestgreen;
}

.precio{
    text-align: left;
    font-size: 40px;
}

.talla, .color, .estado{
    text-align: left;
    font-size: 15px;
    margin-left: 20px;
}

.botones{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}