<div class="contenido">
    <div class="prenda">
        <div class="imagen"><img src="../../../assets/img/camiseta_2.png" alt="camiseta"></div>
        <div class="informacion">
            <h2><strong>Camiseta</strong></h2>
            <p><strong>Precio prenda:</strong> 25000 $</p>
            <p><strong>Talla:</strong> L</p>
            <p><strong>Estado de la prenda:</strong> 10/10</p>
            <div class="botones">
                <button>Hacer oferta</button>
                <button>Comprar</button>
            </div>
        </div>
    </div>
</div>