.capa{
    width: 100%;
    height: 70vh;
    background: url("https://images5.alphacoders.com/130/1306752.jpg");
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenido{
    margin: 50px 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     height: 60vh;
     /* gap: 20px; */
     color: wheat

}

.c-img{
    width: 40%;
    height: 100%;
    background-color:#d6d6d6a1 ; 
    /* border-top-right-radius: 300px; */
    /* border-bottom-right-radius: 300px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;  
      
}


.c-img .imagen{
    width: 70%;
    height: 70%;
    
}

.c-img .imagen img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.c-img .oferta{
    width: 40%;
    height: 100%;
    background-color: red;
    
    
}

.informacion{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-direction: column;
     background-color: #ffffff3a;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position:static;
  

}
.informacion h2{
    font-size: 40px;
   
}


p{
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    
    width: 100%;
    height: 40px;
    border: none;
    background-color: none;
    border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}
span{
    color: forestgreen;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
}

.precio{
    
    font-size: 40px;
    border-bottom:solid #ffffffcb 2px;
}

.talla, .color, .estado{
    
    font-size:large;
    
}

.botones{
    height: 10vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.desc{
    font-size: medium;
}
strong{

    color:  green;
    display: flex;
    align-items: center;
    justify-content: center;
}
