<nav>
    <div class="nav">
        <div class="logo"><a href="#">DEFAULTH || MEMBERS</a></div>
        <div class="busqueda">
            <label for="buscar"><i class="fa-solid fa-magnifying-glass"></i></label>
            <input type="search" id="buscar" placeholder="Buscar">
        </div>
        <div class="botones">
            <a routerLink="/register">Registrarse</a>
            <a routerLink="/login">Iniciar sesión</a>
        </div>
    </div>
    <div class="elementos">
        <a class="vender" href="#">Inicio</a>
        <a class="vender" href="#">Vende tu ropa</a>
        <ul>
            <li><a href="#">Hombre</a></li>
            <li><a href="#">Mujer</a></li>
            <li><a href="#">Niños</a></li>
        </ul>
    </div>
</nav>