<div class="contenido">
    <div class="slider"></div>

    <h2>Prendas</h2>

    <div class="prendas">
        <div class="prenda" *ngFor="let prenda of prendas">
            <div class="elementos">
                <h3>{{prenda.nombre}}</h3>
                <!-- <p>{{prenda.id}}</p> -->
                <img [src]="prenda.imagen">
                <!-- <input type="submit"> -->
                <button (click)="verPrenda(prenda.id_prenda)">Ver prenda</button>
            </div>
        </div>
    </div>
    <!-- <p>{{prenda.precio}}</p> -->
    <button (click)="categoria(dama)">Ver prendas</button>
    <button (click)="categoria(hombre)">Ver prendas</button>
    <button (click)="categoria(ninos)">Ver prendas</button>
</div>