<footer>
    <table>
        <tr>
            <th>Defaulth Members</th>
            <th>Cuenta</th>
            <th>Ayuda</th>
        </tr>
        <tr>
            <td><a href="#">¿Quiénes somos?</a></td>
            <td><a href="#">Registrarse</a></td>
            <td><a href="#">Términos y condiciones</a></td>
        </tr>
        <tr>
            <td><a href="#">Blog</a></td>
            <td><a href="#">Iniciar Sesión</a></td>
            <td><a href="#">Preguntas frecuentes</a></td>
        </tr>
        <tr>
            <td><a href="#">Contacto</a></td>
        </tr>
    </table>
    <div class="redes">
        <a href="#">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </div>
</footer>