<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Compañia</h4>
                <ul>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Nuestros Servicios</a></li>
                    <li><a href="#">política de privacidad</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Consigue Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                    <li><a href="#">Envio</a></li>
                    <li><a href="#">Devoluciones</a></li>
                    <li><a href="#">Estado del pedido</a></li>
                    <li><a href="#">Opciones de pago</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Tienda online</h4>
                <ul>
                    <li><a href="#">Camiseta</a></li>
                    <li><a href="#">Pantalon</a></li>
                    <li><a href="#">Zapatos</a></li>
                    <li><a href="#">Vestido</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>¡Síguenos!</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>